@import 'tailwindcss';
@import '@ibm/plex-sans/css/ibm-plex-sans-all.min.css';
@import '@ibm/plex-sans-sc/css/ibm-plex-sans-sc-all.min.css';
@import '@ibm/plex-sans-tc/css/ibm-plex-sans-tc-all.min.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, system-ui, sans-serif;
	--font-sans-zh: 'IBM Plex Sans', 'IBM Plex Sans SC', 'IBM Plex Sans TC', system-ui, sans-serif;

	--color-brand-gray-50: #f3f3f3;
	--color-brand-gray-100: #c6c6c6;
	--color-brand-black: #000000;
	--color-brand-white: #ffffff;
	--color-brand-grayblue: #c3c8d1;
	--color-brand-blue: #7f9dd8;
	--color-brand-green-100: #c3d1c4;
	--color-brand-green-200: #bdd1cf;
	--color-brand-teal: #5da9c3;
	--color-brand-gold: #eab160;
	--color-brand-purple: #9773b0;
	--color-brand-cream: #ecebd9;
	--color-brand-yellow: #fff200;

	--color-type-creator: var(--color-brand-blue);

	--color-type-default: var(--color-brand-green-200);

	--color-type-object: var(--color-orange-400);

	--color-type-object-book: var(--color-red-200);
	--color-type-object-video: var(--color-red-300);
	--color-type-object-film: var(--color-red-300);
	--color-type-object-article: var(--color-red-400);
	--color-type-object-periodical: var(--color-red-400);
	--color-type-object-newsletter: var(--color-red-600);
	--color-type-object-official: var(--color-red-500);
	--color-type-object-other: var(--color-red-500);

	--color-type-era: var(--color-type-default);
	--color-card-primary: var(--color-type-default);
	--color-card-secondary: var(--color-brand-black);
}

:root {
	font-family: var(--font-sans);
	--lh-tight: 1.3;
	text-rendering: geometricPrecision;
}
:lang(zh) {
	--lh-tight: 1.3;
	--font-sans: var(--font-sans-zh);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

::selection {
	background-color: var(--color-brand-yellow);
	color: var(--color-brand-black);
}
