@import 'tailwindcss';
@import '@ibm/plex-sans/css/ibm-plex-sans-all.min.css';
@import '@ibm/plex-sans-sc/css/ibm-plex-sans-sc-all.min.css';
@import '@ibm/plex-sans-tc/css/ibm-plex-sans-tc-all.min.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, system-ui, sans-serif;
	--font-sans-zh: 'IBM Plex Sans', 'IBM Plex Sans SC', 'IBM Plex Sans TC', system-ui, sans-serif;

	--color-brand-gray-50: #f3f3f3;
	--color-brand-gray-100: #c6c6c6;
	--color-brand-black: #000000;
	--color-brand-white: #ffffff;
	--color-brand-grayblue: #c3c8d1;
	--color-brand-blue: #7f9dd8;
	--color-brand-green-100: #c3d1c4;
	--color-brand-green-200: #bdd1cf;
	--color-brand-teal: #5da9c3;
	--color-brand-gold: #eab160;
	--color-brand-purple: #721d77;
	--color-brand-cream: #ecebd9;
	--color-brand-yellow: #fff200;

	--color-brand: var(--color-brand-purple);
	/* --color-type-creator: #6e95d2;
	--color-type-default: #9ab2d9;

	--color-type-object: #c48c72;
	--color-type-object-book: #d27a90;
	--color-type-object-video: #e58c6c;
	--color-type-object-periodical: #b178c2;
	--color-type-object-newsletter: #d59676; */
	--color-brand-cover: var(--color-brand-purple);
	--color-type-creator: #7d8fa8;

	--color-type-creator: #7d8fa8;
	--color-type-default: #e8e5ef;
	--color-type-object: #7d8fa8;

	--color-type-object-book: #52969a;
	--color-type-object-video: #ac5b78;
	--color-type-object-periodical: #3781a8;
	--color-type-object-newsletter: #c0a14d;
	--color-type-object-article: #6c8f5d;

	--color-type-object-official: var(--color-type-object);
	--color-type-object-other: var(--color-type-object);

	--color-type-theme: #c2bfca;
	--color-type-era: #d7d5df;

	--color-card-primary: var(--color-type-default);
	--color-card-secondary: var(--color-brand-black);

	--breakpoint-xs: 20rem;
	--grid-cell-size: 80px;
}

html,
body {
	overscroll-behavior-y: none;
	/* -webkit-font-smoothing: none; */
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

:root {
	font-family: var(--font-sans);
	--lh-tight: 1.29;
	text-rendering: geometricPrecision;
}
:lang(zh) {
	--lh-tight: 1.29;
	--font-sans: var(--font-sans-zh);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

strong,
b {
	font-weight: 500;
}

::selection {
	background-color: var(--color-brand-yellow);
	color: var(--color-brand-black);
}
